.welcome-header {
  margin: 90px 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome-header__title {
  margin-bottom: 20px;
  font-size: 25px;
}

.welcome-header__text {
  width: 70%;
  opacity: 0.6;
}

#login-form {
  margin: 0px 30px;
  display: flex;
  flex-direction: column;
}

#login-form input {
  border: none;
  padding: 15px 0px;
  font-size: 18px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}
#login-form input:nth-child(2) {
  margin-bottom: 25px;
}

#login-form input:nth-child(3),
#login-form input:nth-child(4) {
  cursor: pointer;
  background-color: #fae100;
  margin-bottom: 10px;
  border-bottom: none;
  border-radius: 5px;
}
#login-form input:nth-child(4) {
  margin-bottom: 20px;
}

#login-form input::placeholder {
  color: rgba(0, 0, 0, 0.4);
}

#login-form input:focus {
  border-color: var(--yellow);
  animation: loginForm 2s linear infinite;
}

@keyframes loginForm {
  0% {
    border-bottom-color: rgb(182, 176, 176);
  }
  25% {
    border-bottom-color: rgb(107, 105, 105);
  }
  50% {
    border-bottom-color: black;
  }
  75% {
    border-bottom-color: rgb(107, 105, 105);
  }
  100% {
    border-bottom-color: rgb(182, 176, 176);
  }
}

#login-form a {
  text-align: center;
  text-decoration: none;
  color: inherit;
  font-size: 14px;
}
